{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/registration-page.css">
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="page-wrapper">
        <div class="page-row">
            <div class="page-central-column">
                <div class="page-title"><h1>Forest</h1></div>
                <div class="form-title"><h2>Регистрация</h2></div>
                {% include 'flash-messages.twig' %}
                <form class="pure-form pure-form-aligned" method="post">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="aligned-username">Логин</label>
                            <input id="aligned-username" type="text" placeholder="your_name" name="registrationForm[login]" value="{{ username|escape('html_attr') }}">
                            <span class="pure-form-message-inline">Только английские буквы.</span>
                        </div>

                        <div class="pure-control-group">
                            <label for="aligned-password">Пароль</label>
                            <input id="aligned-password" type="password" placeholder="Пароль" name="registrationForm[password]">
                        </div>

                        <div class="pure-control-group">
                            <label for="aligned-firstname">Имя</label>
                            <input id="aligned-firstname" type="text" placeholder="Ваше имя" name="registrationForm[first_name]" value="{{ first_name|escape('html_attr') }}">
                        </div>

                        <div class="pure-control-group">
                            <label for="aligned-lastname">Фамилия</label>
                            <input id="aligned-lastname" type="text" placeholder="Ваша фамилия" name="registrationForm[last_name]" value="{{ last_name|escape('html_attr') }}">
                        </div>

                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Зарегистрироваться</button>

                            <a href="/">Войти</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}